.steps {
   display: grid;
   position: relative;
   overflow-y: scroll;
   padding: 2vmin 3vmin;
   overflow-x: hidden;
   scroll-behavior: smooth;
   width: 95%;
   height: 500px;
   transform: translate(5.5%,0%);
   border: 1px solid var(--hover);
   border-right: none;
   box-shadow: inset 1px 1px 5px rgba(46, 46, 46, 0.65);
   border-radius: 10px 0 0 0;
   /*white-space: nowrap; 折り返し防止
   scrollbar-width: none;
   Firefoxのスクロールバー非表示
   -ms-overflow-style: none;
   IEでスクロールバー非表示
   touch-action: pan-y;
    縦スクロールのみ許可 */
}
.steps .accordion-header {
   height: 80px;
   padding: 0 2.5rem;
}

.steps .accordion-item h3 {
   width: fit-content;
   text-align: center;
   margin: 0 auto;
}
.steps .accordion-item h3::before {
   display: none;
}

.steps::-webkit-scrollbar {
   height: 2px;
}

.steps .accordion-item img {
   width: 5vmin;
   right: 3%;
   bottom: 3%;
}

.steps .accordion-item:last-child img {
   width: 16vmin;
   bottom: -2%;
}

.steps .accordion-item .fa {
   top: -50%;
   right: -5%;
}

/*==アコーディオン==*/
      .accordion-wrap {
         width: 90%;
         height: fit-content;
         padding: 0.75rem;
         margin: 0 auto 1vmin;
         background: var(--bg);
         background: var(--sub);
         border-bottom: 1px solid var(--hover);
         border-radius: 10px;
         box-shadow: 0 2px 3px 0 rgba(46, 46, 46, 0.63);
      }

      .accordion-item {
         width: 100%;
         height: 100%;
         margin: 0 auto;
         cursor: pointer;
      }

      .accordion-header {
         font-size: clamp(1.8rem, 1.467rem + 0.44vw, 2rem);
         width: 100%;
         font-weight: 600;
         text-align: left;
         color: var(--text);
         height: 50px;
         margin: 0 auto;
         padding-left: 3.5rem;
         position: relative;
         align-content: center;
         transition: color 100ms;
      }

      .accordion-item h3::before {
         content: "";
         display: block;
         position: absolute;
         left: 1.5%;
         top: 40%;
         width: 10px;
         height: 10px;
         background-color: var(--text);
         border-radius: 50%;
      }

      .accordion-header.active {
         color: var(--hover);
         border-bottom: 1px solid var(--hover);
      }

      .accordion-text {
         overflow: auto;
         max-height: 0;
         transition: max-height 0.5s ease;
      }

      .accordion-text ul {
         margin: 2vmin 0;
      }
      .accordion-text li {
         font-weight: 900;
         margin: 0;
         padding-left: 1em;
      }

      .accordion-text p {
         margin: 0;
         width: 100%;
         padding: 1em 1em 2em;
      }

      .fa {
         display: block;
         position: relative;
         width: 20px;
         height: 20px;
         color: var(--hover);
         float: right;
         top: -10px;
         z-index: 10;
         transform: rotate(315deg);
         transition: transform 300ms, color 100ms;
      }

      .rotate-fa {
         transform: rotate(135deg);
      }

      .accordion-gold .accordion-header {
         color: var(--hover);
      }

      .accordion-no-bar {
         border-bottom: 0;
      }

      /*== アコーディオンEND ==*/

      @media screen and (max-width: 600px) {
         .steps {
            height: 350px;
         }
         .steps .accordion-header {
            height: 65px;
         }
         .accordion-wrap {
            width: 93%;
            padding: 0.75rem;
            margin: 0 auto 1.5vmin;
         }

         .accordion-item h3::before {
            left: 1rem;
            top: 45%;
            width: 5px;
            height: 5px;
         }

         .accordion-header {
            font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
            width: 100%;
            text-align: left;
            color: var(--text);
            height: 45px;
            margin: 0 auto;
            padding: 0 2.5rem;
         }

         /*.accordion-text p {
            white-space: pre-line;
            word-break: break-all;
         }*/
         .fa {
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            color: var(--hover);
            right: -1%;
            top: -4%;
            z-index: 10;
         }
         .steps .accordion-item img {
            width: 13vmin;
            right: 3%;
            bottom: 3%;
        }
    
        .steps .accordion-item:last-child img {
            width: 22vmin;
            bottom: -1%;
            right: 4%;
        }
      }