.steps {
    display: grid;
    grid-auto-flow: column;
    gap: 7rem;
    margin-left: 15%;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.step {
    position: relative;
    min-width: 250px;
    width: 280px;
    cursor: pointer;
    margin: 5%;
    height: 400px;
}

.step .tab {
    width: 235px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: var(--bg);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(135deg,
            rgba(180, 200, 255, 0.8),
            rgba(100, 120, 200, 0.6));
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 2;
}

.step .content-wrapper {
    background: rgba(25, 255, 255, 0.2);
    border-radius: 10px;
    position: relative;
    top: -40px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background: linear-gradient(180deg, rgba(250, 107, 255, 0.07), rgba(253, 246, 234, 0) 50%, rgba(255, 150, 48, 0.05));
    width: 100%;
    height: 15%;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-height: 100%;
    /* 非アクティブ時の高さ */
    overflow: hidden;
    z-index: 0;
}

.step .content {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.step.active .content-wrapper {
    height: 350px;
    max-height: 500px;
    padding: 4.4rem 1.5rem 0;
}

.step.active .content {
    opacity: 1;
}


.step img {
    width: 12vmin;
    right: 1%;
    bottom: 1%;
}

 .step:last-child img {
    width: 19vmin;
    bottom: -7.5%;
}

 .step h3 span {
    font-size: clamp(6.4rem, calc(6.4rem + 0.5vw), 7rem);
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    color: var(--hover);
    line-height: 6rem;
    position: absolute;
    top: 5%;
    left: 15%;
}

 .step h3 {
    margin: 6% auto 3%;
}

 .step p {
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    letter-spacing: -0.15rem;
}
