.steps {
    display: grid;
    grid-auto-flow: column;
    gap: 4rem;
    position: relative;
    overflow-x: scroll;
    padding: 2vmin 3vmin;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 90%;
    transform: translate(11%,0%);
    border: 1px solid var(--hover);
    border-right: none;
    box-shadow: inset 1px 1px 5px rgba(46, 46, 46, 0.65);
    border-radius: 10px 0 0 0;
    /*white-space: nowrap; 折り返し防止
    scrollbar-width: none;
    Firefoxのスクロールバー非表示
    -ms-overflow-style: none;
    IEでスクロールバー非表示
    touch-action: pan-y;
     縦スクロールのみ許可 */
}

.steps::-webkit-scrollbar {
    height: 2px;
}

.step {
    position: relative;
    min-width: 250px;
    width: 300px;
    height: 95%;
    cursor: pointer;
}

.step .tab {
    width: 235px;
    height: 63px;
    padding: 15px 10px;
    font-size: clamp(2rem, 1.92rem + 0.4vw, 2.4rem);
    font-weight: bold;
    color: var(--text);
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.card--first {
    background: url("../img/tab-bg--first.webp");
    background-size: cover;
    background-position: top left;
}

.card--tow {
    background: url("../img/tab-bg--tow.webp");
    background-size: cover;
    background-position: top left;
}

.card--three {
    background: url("../img/tab-bg--three.webp");
    background-size: cover;
    background-position: top left;
}

.step .content-wrapper {
    border-radius: 10px;
    position: relative;
    top: -40px;
    transition: max-height 0.45s ease, padding 0.4s ease;
    background-repeat: no-repeat;
    width: 95%;
    height: 42pt;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-height: 100%;
    overflow: hidden;
    z-index: 0;
}

.tab-bg--first {
    background: url("../img/card-bg--first.webp");
    background-size: cover;
    background-position: top left;
}

.tab-bg--tow {
    background: url("../img/card-bg--tow.webp");
    background-size: cover;
    background-position: top left;
}

.tab-bg--three {
    background: url("../img/card-bg--three.webp");
    background-size: cover;
    background-position: top left;
}

.step .content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.step.active .content-wrapper {
    height: 95%;
    padding: 3.5em 1em 0;
}

.step.active .content {
    opacity: 1;
}

.step img {
    width: 9vmin;
    right: 3%;
    bottom: 3%;
    z-index: -1;
}

.step:last-child img {
    width: 19vmin;
    bottom: -4%;
}

.step p {
    font-size: clamp(1.6rem, 1.181rem + 0.52vw, 1.8rem);
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 0.15rem;
    line-height: 1.6;
}


@media screen and (max-width: 600px) {
    .steps {
        gap: 0;
        width: 100%;
        transform: translate(5%,0%);
    }

    .step {
        padding: 0.5rem 0 1rem;
        min-width: 250px;
        width: 300px;
        min-height: 250px;
    }

    .step .tab {
        height: 60px;
        padding: 15px 5px;
    }

    .step .content-wrapper {
        border-radius: 10px;
        top: -40px;
        width: 90%;
        height: 38pt;
        margin: 0 auto;
        padding: 0 1.5rem;
        max-height: 100%;
    }

    .step.active .content-wrapper {
        height: 95%;
        padding-top: 3.5em;
    }

    .step img {
        width: 17vmin;
        right: 3%;
        bottom: 3%;
    }

    .step:last-child img {
        width: 29vmin;
        bottom: -2%;
        right: 4%;
    }

    .step p {
        width: 85%;
        margin: 0 auto;
        letter-spacing: 0.03rem;
    }

}