h1 {
    font-size: clamp(4rem, 2.327rem + 2.06vw, 4.8rem);
    font-family: sans-serif;
    font-weight: 500;
    margin: 0 auto;
}

h3 {
    font-weight: 500;
}

main ul {
    width: 60%;
    font-weight: 600;
    margin: 5% auto;
}

li {
    font-weight: 400;
    line-height: 2;
}

.main-visual {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.main-visual p {
    width: fit-content;
}

.img--start {
    width: 30vmin;
    bottom: 30%;
    left: 30%;
}


.about-us h3 {
    margin-top: 7vmin;
}

@media screen and (max-width:1920px) {   
main {
    width: 50%;
    margin-left: 30%;
}
    
}