.contact-form-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col input {
    color: #2e2e2e;
}

.col {
    padding: 0 2.5rem;
    float: left;
    box-sizing: border-box;
}

.col.x-50 {
    width: 50%;
    margin-top: 2rem;
}

.col.x-100 {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0.3rem;
}

input:-internal-autofill-selected,
.contact-form .input-text {
    background-color: rgba(46, 46, 46, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.content-wrapper {
    position: relative;
}

.get-in-touch {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.get-in-touch .c-h3 {
    font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
    font-family: Raleway, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 4rem;
    padding-bottom: 2rem;
}

.contact-form .form-field {
    position: relative;
}

.contact-form .input-text {
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
    font-family: Lusitana, serif;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 50px;
    border-width: 0 0 2px 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-radius: 20px;
    box-shadow: hsla(0, 0%, 10%, 0.2) 0px 0px 0px, inset hsla(0, 0%, 0%, 0.5) 0px 1px 3px 1px;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    transform: translateY(-3.5rem);
}

.contact-form .label {
    font-size: clamp(1.4rem, calc(1.4rem + 0.1vw), 1.8rem);
    font-weight: 400;
    color: rgba(0, 58, 66, 0.5);
    position: absolute;
    left: 10%;
    bottom: 10%;
    line-height: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.contact-form .label-test {
    left: 5%;
}

.contact-form .submit-btn {
    font-family: zen-maru-gothic, sans-serif;
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
    width: 70pt;
    height: 35pt;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--base-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    padding: 0.35rem 0.8rem 0.5rem 1.2rem;
    margin: 0% auto;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-form .submit-btn:hover {
    color: var(--base-color);
    background: var(--main-color);
}

.align-center {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
}

.note {
    margin-left: -25%;
}


/*===================== モーダルウィンドウ =====================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 20%;
}

.modal-content {
    width: 55%;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    color: var(--base-color);
    background: rgba(245, 252, 246, 0.13);
    box-shadow: 0 3px 5px 0 rgba(46, 46, 46, 0.67);
    backdrop-filter: blur(6.5px);
    border: 1px solid var(--white-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close {
    color: var(--base-color);
    font-size: 25pt;
    font-weight: bold;
    float: right;
    position: absolute;
    top: 20%;
    right: 20%;
}

.close:hover,
.close:focus {
    color: var(--main-color);
    text-shadow: 0 1px 2px var(--base-color);
    text-decoration: none;
    cursor: pointer;
}

/*===================== モーダルウィンドウ =====================*/