:where(input[type="checkbox"], input[type="radio"]) {
   font-size: inherit;
   line-height: inherit;
   margin: 0;
   block-size: 2.4rem;
   inline-size: 2.4rem;
   vertical-align: sub;
}
form input {
   position: relative;
   appearance: none;
   width: 2.4rem;
   height: 2.4rem;
   border: 1px solid var(--accent);
   border-radius: 50%;
   background: #fffdfb;
   box-shadow: inset hsla(0, 0%, 0%, 0.5) 0px 0px 2px 0px;
}
form input[type="checkbox"] {
   border-radius: 2px;
}
/* チェックされたらラジオボタン内側を表示 */
form input[type="checkbox"]:checked::before,
form input[type="radio"]:checked::before {
   opacity: 1;
}
form input[type="checkbox"]::before,
form input[type="radio"]::before {
   background-color: rgba(254, 175, 255);
   box-shadow: 0 1px 2px 0px rgba(46, 46, 46, 0.45);
   border-radius: 50%;
   bottom: 0;
   content: "";
   left: 0;
   margin: auto;
   opacity: 0;
   position: absolute;
   right: 0;
   top: 0;
   width: 1rem;
   height: 1rem;
}
.form-row {
   display: grid;
}
.col {
   flex: 1;
}
.col.x-50,
.col.x-100 {
   margin-top: 1.5rem;
}
.col.x-50:nth-of-type(1) {
   margin-top: 0;
}input:-webkit-autofill,
input:-webkit-autofill:focus {
   transition: background-color 0s 600000s, color 0s 600000s !important;
}
.content-wrapper {
   width: 70%;
   margin: 0 auto;
}
.get-in-touch {
   margin: 0 auto;
   position: relative;
}
.contact-form .form-field {
   position: relative;
}
.contact-form .input-text {
   font-size: clamp(1.4rem, 1.733rem + 0.89vw, 1.8rem);
   font-family: sans-serif;
   font-weight: 400;
   color: var(--text);
   display: block;
   width: 90%;
   height: 35pt;
   border-width: 0;
   margin: 0 auto;
   padding-left: 2rem;
   background-color: #fffdfb;
   box-shadow: 0px 1px 3px rgba(46, 46, 46, 0.5);
   border-radius: 10px;
}
.contact-form #message {
   width: 90%;
   height: 130px;
   margin: 0 auto;
   padding-top: 1rem;
}
.contact-form .input-text:focus {
   outline: none;
}
.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
   font-size: 1.6rem;
   transform: translateY(-1.85rem);
   color: rgba(200, 200, 200, 0.95);
}
.contact-form .label {
   font-family: "Zen Maru Gothic", serif;
   font-size: clamp(1.6rem, 1.467rem + 0.44vw, 1.8rem);
   font-weight: 400;
   color: rgba(10, 10, 10, 0.5);
   position: absolute;
   left: 5rem;
   top: 0.75rem;
   transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
   font-family: "Zen Maru Gothic", serif;
   font-size: clamp(1.6rem, 1.467rem + 0.44vw, 1.8rem);
   width: 100%;
   height: 22pt;
   display: inline-block;
   color: var(--bg);
   background-color: var(--text);
   text-transform: uppercase;
   letter-spacing: 0.2rem;
   line-height: 1.5rem;
   padding: 0.5rem 0;
   margin: 1.5rem auto;
   border: none;
   border-radius: 10px;
   box-shadow: 0px 1px 3px rgba(46, 46, 46, 0.5);
   cursor: pointer;
   transition: all 0.35s ease;
}
.contact-form .submit-btn:hover {
   color: var(--text);
   background: var(--bg);
   border: none;
}
.radio-group,
.align-center h3 {
   font-weight: 700;
   color: var(--text);
   width: fit-content;
   line-height: 1.5;
   z-index: 1;
}
.radio-group {
   font-size: 2rem;
   display: flex;
   gap: 1.2rem;
   margin: 0.5rem 0;
}
.align-center {
   width: 90%;
   align-items: center;
   margin: 1rem auto 0;
   margin-left: 2.5vmin;
}
.align-center h3 {
   font-family: 'Hachi Maru Pop';
   font-size: 2.4rem;
}
.align-center p {
   font-size: 1.45rem;
   width: 100%;
   margin: 0;
   line-height: 1.6;
}/*===================== モーダルウィンドウ =====================*/
.modal {
   display: none;
   position: absolute;
   z-index: 10000;
   height: fit-content;
   overflow: hidden;
   opacity: 0;
   transition: opacity 0.4s ease-in-out;
}/* モーダルが表示されるとき */
.modal.show {
   display: block;
   opacity: 1;
}/* モーダルコンテンツのアニメーション */
.modal-content {
   position: fixed;
   width: 70vmin;
   height: 55vmin;
   margin: 0 auto;
   transform: translate(-50%, -50%);
   padding: 20px;
   color: var(--text);
   background: rgba(255, 255, 255, 0.5);
   box-shadow: 0 2px 3px 0 rgba(46, 46, 46, 0.63);
   border: 1px solid #fff;
   backdrop-filter: blur(8px);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}/* モーダル表示時 */
.modal.show .modal-content {
   transform: translateY(0);
}
.modal-content p {
   font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
}
.close {
   font-size: 25pt;
   font-weight: bold;
   float: right;
   position: absolute;
   top: 20%;
   right: 20%;
}
.close:hover,
.close:focus {
   color: var(--accent);
   text-shadow: 0 1px 2px var(--text);
   text-decoration: none;
   cursor: pointer;
}
/*===================== モーダルウィンドウ =====================*/

@media screen and (min-width: 600px) and (max-width: 1299px) {
   .form-row {
      display: block;
   }
   .col {
      padding: 0;
   }
   .col.x-50 {
      padding: 0;
      margin: 0.5rem auto 1rem;
   }
   .col.x-100 {
      padding: 0;
      margin-top: 1.5rem;
   }
   .contact-form .input-text:focus+.label,
   .contact-form .input-text.not-empty+.label {
      transform: translateY(-2rem);
   }
   .content-wrapper {
      width: 95%;
      padding: 0.5rem 1rem;
      margin: 0 auto;
      position: relative;
      right: 0;
      top: 5%;
   }
   .contact-form .input-text {
      font-size: clamp(1.8rem, 1.343rem + 2.29vw, 2.2rem);
      width: 100%;
      height: 35pt;
      padding-left: 1rem;
      background-color: var(--bg);
      border: 1px solid var(--border);
   }
   .contact-form #message {
      height: 70pt;
   }
   .contact-form .label {
      font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
      color: rgba(217, 217, 217, 0.75);
      left: 2.75%;
      top: 13.75%;
      line-height: 2rem;
   }
   .contact-form .label-test {
      top: 6.5%;
   }
   .contact-form .submit-btn {
      font-size: clamp(2rem, 1.771rem + 1.14vw, 2.2rem);
      width: 100%;
      height: 30pt;
      padding: 0;
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
   }
   .contact-form .submit-btn:active {
      color: var(--text);
      background: var(--accent);
   }
   .align-center p {
      font-size: clamp(1rem, 0.771rem + 1.14vw, 1.2rem);
      width: 100%;
      margin: 0;
      margin-top: 1rem;
      line-height: 1.2;
      text-align: left;
   }
   .align-center p a {
      font-size: clamp(1.6rem, 1.143rem + 2.29vw, 2rem);
      margin-top: 0;
      padding: 0.5rem;
      border: 0;
   }
}

@media screen and (max-width: 600px) {
   .form-row {
      display: block;
   }
   .col {
      padding: 0;
   }
   .col.x-50 {
      padding: 0;
      margin: 0.5rem auto 1rem;
   }
   .col.x-100 {
      padding: 0;
      margin-top: 1.5rem;
   }
   .contact-form .input-text:focus+.label,
   .contact-form .input-text.not-empty+.label {
      transform: translateY(-2rem);
   }
   .content-wrapper {
      width: 95%;
      padding: 0.5rem 1rem;
      margin: 0 auto;
      position: relative;
      right: 0;
      top: 5%;
   }
   .contact-form .input-text {
      font-size: clamp(1.8rem, 1.343rem + 2.29vw, 2.2rem);
      color: var(--text);
      width: 100%;
      height: 45px;
      padding-left: 1rem;
      background: var(--sub);
   }
   .contact-form #message {
      width: 100%;
      height: 100px;
   }
   .contact-form .label {
      font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
      color: rgba(46, 46, 46, 0.75);
      left: 2.75%;
      top: 5.75%;
      line-height: 2rem;
   }
   .contact-form .submit-btn {
      font-size: clamp(1.8rem, 1.771rem + 1.14vw, 2rem);
      width: 100%;
      height: 35px;
      padding: 0;
      margin: 0;
      padding-bottom: 0.5rem;
      margin-top: 1rem;
   }
   .contact-form .submit-btn:active {
      color: var(--text);
      background: var(--accent);
   }
   .radio-group,
   .align-center h3 {
      font-weight: 700;
      color: var(--text);
      width: fit-content;
      line-height: 1.5;
      z-index: 1;
   }
   .radio-group {
      font-size: 1.4rem;
      justify-content: center;
   }
   .align-center {
      width: 100%;
      align-items: center;
      margin: 1rem auto 0;
      justify-content: flex-start;
   }
   .align-center h3 {
      font-size: 2rem;
   }
   .align-center p {
      font-size: clamp(1.4rem, 0.771rem + 1.14vw, 1.6rem);
      width: 100%;
      margin-top: 2rem;
      line-height: 1.2;
   }
   .align-center p a {
      margin-top: 0;
      padding: 0.5rem;
      border: 0;
   }
   /*===================== モーダルウィンドウ =====================*/
   .modal-content {
      width: 95%;
      height: 100%;
      padding: 20px;
      background: rgba(245, 252, 246, 0.13);
      box-shadow: 0 3px 5px 0 rgba(46, 46, 46, 0.17);
      backdrop-filter: blur(6.5px);
      border: 1px solid var(--bg);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .close {
      color: var(--base);
      font-size: 25pt;
      font-weight: bold;
      float: right;
      position: absolute;
      top: 20%;
      right: 20%;
   }
   .close:hover,
   .close:focus {
      color: var(--main);
      text-shadow: 0 1px 2px var(--base);
      text-decoration: none;
      cursor: pointer;
   }
   /*===================== モーダルウィンドウ =====================*/
}