@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
/*== Scrollbar ==*/
::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border: thick double var(--hover);
    border-radius: 5px;
    mix-blend-mode: difference;
}
/*== Scrollbar END ==*/

/*== fade ==*/
.fade_bottom {
    opacity: 0;
    transition: opacity 1.2s ease, transform 1.2s ease, filter 1.2s ease;
    filter: blur(3px);
}

.fade_bottom.visible {
    opacity: 1;
    filter: blur(0);
}
@keyframes fadeIn_left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
    }
}
/*== fade END ==*/

*,
body,
header,
.hydrated,
p,
ul,
td,
th,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.mobile {
    display: none;
}
.pc {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    font-family: "Zen Maru Gothic", serif;
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
    color: var(--text);
    font-weight: 400;
    /*background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), url('https://smilecoordinate.github.io/hp/img/hp-bg.jpg') no-repeat center center / cover;*/
    background: url("../img/test-bg-img.jpg") no-repeat center center / cover;
    background-attachment: fixed;
    overflow-x: hidden !important;
    border: 10px solid var(--sub);
    border-bottom: none;
    border-left: none;
}

body::before {
    content: "";
    height: 100%;
    position: fixed;
    background: url("../img/flower of life.png") no-repeat center center / cover;
    z-index: -1;
}

:root {
    font-size: 62.5%;
    --root-font-size: 16;
    /*text border main rgba(46, 46, 46)*/
    --text: #2e2e2e;
    /*sub black rgba(255, 150, 48)*/
    --hover: #fda144;
    /*bg base rgba(253, 246, 234)*/
    --bg: #FDF6EA;
    /*sub bg rgba(255, 253, 249)*/
    --sub: #fffdf9;
    /*link accent rgba(254, 175, 255)*/
    --accent: #FEAFFF;
}

/*====Section*/
h1 {
    font-size: clamp(6rem, calc(6rem + 0.5vw), 8rem);
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}

h2 {
    font-size: clamp(4rem, calc(4rem + 0.5vw), 4.8rem);
    width: fit-content;
    line-height: 5rem;
    top: -2%;
    left: 17%;
    margin-bottom: 2%;
}

h2,
a {
    font-family: "Hachi Maru Pop", serif;
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-size: clamp(2rem, calc(3rem + 0.5vw), 2.4rem);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

h3,
li {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.6rem, calc(1.8rem + 0.1vw), 1.8rem);
    font-weight: 500;
    width: 65%;
    line-height: 2;
    text-align: left;
    margin: 0 auto;
}

ul,
ol {
    font-size: 2.4rem;
    margin: 0 auto;
}

li {
    font-size: 2rem;
    width: fit-content;
    list-style: none;
}

a {
    padding: 0.25rem 0.5rem;
    transition: all 0.3s ease;
    z-index: 10;
    text-decoration: none;
}

img {
    width: 25vmin;
    max-width: 100%;
    height: auto;
    position: absolute;
    object-fit: cover;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    z-index: 11;
    pointer-events: none;
}

.top-img--one {
    width: 40vmin;
    top: 2%;
    right: -15%;
}

.top-img--two {
    width: 25vmin;
    bottom: 0%;
    right: -11%;
}

.img--one {
    width: 33vmin;
    bottom: 15%;
}

.img--two {
    width: 16vmin;
    left: 5%;
    bottom: -100%;
    transform: scale(-1, 1);
}

.img--three {
    width: 10vmin;
    bottom: -2px;
    right: 3vmin;
}

.img--four {
    width: 11%;
    left: -10.5%;
    bottom: 0;
}

.img--five {
    width: 8%;
    right: -8.15%;
    bottom: 0;
}

.img--six {
    width: 25%;
    right: 2%;
    bottom: -10%;
}

.main--top--img {
    width: 40vmin;
    position: fixed;
    transform: translate(65%, 75%);
    opacity: 0.5;
    z-index: -2;
}

.img--start {
    width: 40vmin;
    bottom: 0%;
}

.tab--four-img {
    position: relative;
    height: 100px;
}

/*===== h2 bg ======*/
.bgfont_h2 {
    align-items: center;
    position: relative;
    z-index: 1;
}

.bgfont_h2 span {
    position: relative;
    z-index: 2;
}

.bgfont_h2::before {
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
    content: attr(data-en);
    position: absolute;
    width: fit-content;
    transform: rotate(-5deg);
    top: -30%;
    left: -10%;
    color: var(--accent);
    opacity: 0.45;
    z-index: -1;
}
/*===== h2 bg ======*/

main {
    position: relative;
    width: 40%;
    margin-left: 5vmin;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border-left: 0.5px solid var(--accent);
    border-right: 0.5px solid var(--accent);
    box-shadow: 0 2px 5px rgba(46, 46, 46, 0.5);
}

/*====Section*/
section,
.sentence {
    height: 100vh;
    position: relative;
    /*display: flex;
    justify-content: center;*/
    display: grid;
    align-content: flex-start;
    align-items: center;
    padding-top: 10rem;
}

/*====TOP section*/
.main-visual {
    font-weight: 600;
    position: relative;
    width: 45%;
    height: 100vh;
    transform: translate(25%, 0%);
    z-index: -1;
}

.main-visual h1 {
    margin: 0;
    margin-top: 20vmin;
}

.main-visual .overlay p {
    font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
    margin: 0;
    margin-left: 1%;
}

.overlay--tow {
    position: absolute;
    width: fit-content;
    top: 10%;
    left: -85%;
    margin-top: 10rem;
    z-index: -1;
}

.overlay--tow p {
    font-size: 2rem;
    margin: 0;
    margin-left: 1%;
}

/* About Us セクション */
.sentence {
    align-content: center;
}

/* Service セクション */
.services {
    background: var(--sub);
}

.services .point {
    font-weight: 600;
    width: 65%;
    margin: 0 auto;
}

.services h3 {
    width: 65%;
    text-align: left;
    margin: 0 auto;
    position: relative;
}

/*======self-diagnosis*/
.self-diagnosis ul {
    font-size: 2rem;
    font-weight: 700;
    width: 65%;
    margin-top: 1vmin;
}

.self-diagnosis ul li {
    margin-bottom: 1.5vmin;
    font-weight: 400;
}

ul .bgfont_h2::before {
    font-size: 1.4rem;
    font-style: normal;
    width: 135px;
    transform: rotate(0);
    position: absolute;
    top: -1.5vmin;
    left: 0%;
    color: var(--text);
    font-weight: 600;
    opacity: 1;
}

/*===voice*/
.voice ul {
    width: 75%;
    height: 55vmin;
    overflow-y: scroll;
    padding: 1rem;
    background: var(--sub);
}

.voice::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-image-source: repeating-linear-gradient(45deg, #fff 0, #fff 3px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 6px);
    border-width: 20px;
    border-image-slice: 20;
    border-image-repeat: round;
    border-style: solid;
    z-index: -1;
}

.voice ul::before {
    content: "";
    width: 12vmin;
    height: 12vmin;
    position: absolute;
    right: 2%;
    bottom: 15%;
    background: url("../img/voice.png") center / cover;
}

.voice li {
    font-family: "Zen Maru Gothic", serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
    border-bottom: 1px solid;
    padding: 1rem;
}

.btn {
    font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
    width: 240px;
    height: 60px;
    color: var(--text);
    background: linear-gradient(0deg, rgb(207, 252, 255, 0.3) 0%, rgb(192, 252, 109, 0.2) 100%);
    border: none;
    border-radius: 45px;
    border: 1px solid var(--sub);
    box-shadow: 0px 2px 4px 0px rgba(46, 46, 46, 0.5);
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 100;
    display: flex;
    margin: 5% auto 0;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease;
    position: relative;
}

.btn:hover {
    color: var(--hover);
    box-shadow: none;
    background: linear-gradient(0deg, rgb(207, 252, 255, 0.1) 0%, rgb(192, 252, 109, 0) 100%);
    box-shadow: inset 0px 1px 3px 0px rgba(46, 46, 46, 0.5);
}

.btn::after {
    content: '';
    width: 225px;
    height: 50px;
    border: 1px solid var(--sub);
    border-radius: 45px;
    background: linear-gradient(0deg, rgb(107, 202, 235, 0.45) 0%, rgb(192, 252, 109, 0.2) 100%);
    box-shadow: 0px 2px 4px 0px rgba(46, 46, 46, 0.5);
    position: absolute;
    top: 3px;
    left: 6px;
    transition: all 0.3s ease;
    z-index: -1;
}

.btn:hover::after {
    background: linear-gradient(0deg, rgb(207, 252, 255, 0.2) 0%, rgb(192, 252, 109, 0.12) 100%);
    box-shadow: inset 0px 1px 3px 0px rgba(46, 46, 46, 0.5);
}

footer {
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 1300px) {

    /*== cursor ==*/
    *,
    *::before,
    *::after {
        /*cursor: none !important;*/
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    #stalker {
        position: fixed;
        top: 0;
        left: 0;
        margin: -15px 0 0 -15px;
        width: 35px;
        height: 35px;
        border: 1px solid;
        border-radius: 50%;
        border-color: rgba(61, 78, 236, 0.36);
        pointer-events: none;
        transition: transform 0.2s ease;
        z-index: 100;
    }

    /* ホバー時のスタイル */
    .stalker--hover {
        background-color: rgba(136, 162, 211, 0.76);
        filter: blur(1);
        transform: scale(2);
    }

    .stalker--hover::after {
        content: "クリック";
        color: var(--sub);
        font-family: "serif";
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        margin-top: 0.4vmin;
        display: flex;
        justify-content: center;
        margin-right: 2px;
    }

    /*== Scrollbar ==*/
    ::-webkit-scrollbar {
        width: 5px;
        height: 8px;
    }
}

@media screen and (max-width: 600px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .hydrated {
        overflow-x: hidden;
    }

    body {
        border: none;
        border-bottom: none;
        overflow-x: hidden;
        display: block;
    }

    body::before {
        content: "";
        position: fixed;
        width: 93.75vmin;
        height: 100%;
        border: 3.25vmin solid var(--sub);
        border-bottom: none;
        z-index: 10;
        pointer-events: none;/* クリックを無効化 */
    }

    body::after {
        content: "";
        position: fixed;
        top: 3vmin;
        left: 3vmin;
        width: 93.55vw;
        height: 100vh;
        border: 1px solid var(--hover);
        border-bottom: none;
        pointer-events: none;
        z-index: 11;
    }

    h1 {
        font-size: clamp(3rem, calc(3rem + 0.5vw), 4rem);
    }

    h2 {
        font-size: clamp(2.4rem, calc(2.4rem + 0.5vw), 2.8rem);
        width: fit-content;
        margin: 0 auto;
        left: 0;
    }

    h3 {
        font-size: clamp(1.8rem, calc(2rem + 0.5vw), 2rem);
        left: 0;
        margin: 0 auto;
    }

    ul,
    ol {
        font-size: 2rem;
    }

    li {
        font-size: 1.6rem;
        width: 90%;
        margin: 0 auto;
    }

    p {
        font-size: clamp(1.6rem, calc(1.4rem + 0.5vw), 1.8rem);
        width: 80%;
        line-height: 1.6;
    }

    a {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        color: var(--accent);
        padding: .25rem .5rem;
        transition: all 0.3s ease;
    }

    a:hover {
        color: var(--accent);
    }

    a::before {
        background: var(--accent);
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: width 0.5s ease;
    }

    /*===== h2 bg ======*/
    .bgfont_h2 {
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .bgfont_h2 span {
        position: relative;
        z-index: 2;
    }

    .bgfont_h2::before {
        font-size: 2.4rem;
        transform: rotate(-5deg);
        top: -40%;
        left: -20%;
        opacity: 0.45;
    }

    /*===== h2 bg ======*/
    img {
        width: 25vmin;
        max-width: 100%;
        height: auto;
        position: absolute;
        object-fit: cover;
        vertical-align: middle;
        font-style: italic;
        background-repeat: no-repeat;
        background-size: cover;
        shape-margin: 0.75rem;
    }

    .img--one {
        width: 50vmin;
        top: -5vmin;
    }

    .img--two {
        width: 30vmin;
        right: 0;
        left: 0;
        bottom: -20vmin;
    }

    .img--three {
        width: 22vmin;
        right: 0;
    }

    .img--four {
        width: 16%;
        left: 85.5%;
    }

    .img--five {
        width: 10%;
        right: 89.5%;
    }

    .img--six {
        width: 25%;
        right: 2%;
        bottom: 8%;
    }

    .top-img--one {
        width: 40vmin;
        top: 2%;
        right: -15%;
    }

    .top-img--two {
        width: 25vmin;
        bottom: 0%;
        right: -11%;
    }

    .main--top--img {
        width: 40vmin;
        position: fixed;
        transform: translate(65%, 75%);
        opacity: 0.5;
        z-index: -1;
    }

    .img--start {
        width: 45vmin;
        bottom: 0%;
        top: 50%;
        left: 25%;
    }

    /*===== main */
    main {
        width: 95%;
        margin: 0 auto;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(3px);
        border: none;
        box-shadow: none;
    }

    /*====TOP section*/
    .main-visual {
        font-weight: 600;
        width: fit-content;
        height: 50vh;
        transform: none;
        margin: 0 auto;
        padding-top: 20vmin;
    }

    .main-visual h1 {
        margin-top: 0;
    }

    .main-visual .overlay {
        width: 80%;
        margin: 0 auto;
    }

    .main-visual .overlay p {
        font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
        width: 100%;
        margin: 0;
    }

    /*====Section*/
    section,
    .sentence {
        align-content: center;
        padding-top: 0;
    }

    section {
        height: 100vh;
    }

    /*====top*/
    .sentence {
        height: 50vh;
        padding-top: 0;
    }

    /* About Us セクション */
    .about-us p {
        list-style: none;
        padding: 0;
        margin: 0 auto 3%;
    }

    /* Service セクション */
    .services .point {
        font-weight: 600;
        width: 80%;
        margin: 2vmin auto;
    }

    .services h3 {
        width: fit-content;
    }

    /*=====self-diagnosis*/
    .self-diagnosis ul {
        font-size: 1.6rem;
        font-weight: 600;
        border: 1px solid var(--text);
        width: 90%;
        margin-top: 2vmin;
        padding: 1.5rem 1rem 0;
    }

    .self-diagnosis ul li {
        margin-bottom: 4vmin;
        font-weight: 300;
    }

    ul .bgfont_h2::before {
        font-size: 1.4rem;
        top: -4vmin;
        left: 0%;
        font-weight: 300;
    }

    /*===== voice section */
    .voice ul {
        width: 90%;
        height: 400px;
        margin-top: 2rem;
        padding: 0;
    }

    .voice::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border-image-source: repeating-linear-gradient(45deg, #fff 0, #fff 3px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 6px);
        border-width: 10px;
        border-image-slice: 10;
        border-image-repeat: round;
        border-style: solid;
        z-index: -1;
        display: none;
    }

    .voice ul::before {
        width: 20vmin;
        height: 20vmin;
        right: 2%;
        bottom: 15rem;
    }

    .voice li {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
    }

    .btn {
        font-size: 2rem;
        font-weight: 600;
        width: 55vmin;
        height: 75px;
        padding: 1rem 2rem;
        border-radius: 50px;
        box-shadow: 0px 2px 1px 0px rgba(46, 46, 46, 0.5);
    }

    .btn::after {
        content: "▶";
        width: 50vmin;
        height: 55px;
        top: 8.5px;
        left: 1.75vmin;
        border-radius: 50px;
        align-content: center;
    }

    .btn:active {
        font-size: clamp(2.4rem, calc(2.4rem + 0.5vw), 2.8rem);
    }
}