/* 全体のスタイル */
:root {
    font-size: 62.5%;
    --root-font-size: 16;
    /*text border main*/
    --text-color: #2e2e2e;
    /*sub black*/
    --hover-color: #FF9630;
    /*bg base (217, 217, 217)*/
    --bg-color: #FDF6EA;
    /*link accent*/
    --accent-color: #FEAFFF;
}

body,,header,p,ul,td,th {
    margin: 0;
    padding: 0;
}
input, button, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--text-color);
    font-family: "Zen Maru Gothic", serif;
    font-weight: 300;
    background: url('https://smilecoordinate.github.io/hp/img/sc-bgimg.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
body::after,
body::before {
    content: "";
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
}

body::after {
    left: 10%;
    border-left: 1px solid var(--accent-color);
}
body::before {
    right: 10%;
    border-right: 1px solid var(--accent-color);
    z-index: 1;
}

/* ヘッダー */

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(63deg, #92f4ffb0, #7CF2FF33, #FFFFFF, #81FF8F33, #FFAFD8);
    background-size: 1000% 1000%;
    animation: GradientBackground 22s ease infinite;
  }

  @keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }


header .logo {
    font-size: 1.4rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li a {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
    color: var(--text-color);
    text-decoration: none;
}

/*====Section*/
.about-us,
.services,
.coaching-details,
.contact {
    width: 70%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(46, 46, 46, 0.2);
    border-radius: 10px 0 0 0;
}

/*====TOP*/
.main-visual {
}

.main-visual img {
    width: 100%;
    height: auto;
}

.main-visual .overlay {
    position: absolute;
    top: 30%;
    left: 20%;
    /*transform: translate(-50%, -50%);*/
}

.main-visual h1 {
    font-size: clamp(3rem, calc(3rem + 0.5vw), 6rem);
    margin: 0;
}

.main-visual p:last-child {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
    margin-top: 30rem;
}

/* About Us セクション */
.about-us {
    padding: 1rem;
    background-color: #faf3ef;
    text-align: center;
}

.about-us h2 {
    font-size: 32px;
}

.about-us ol {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

.about-us ol li {
    margin-top: 10px;
}

/* Service セクション */
.services {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.services h3 {
    margin-top: 20px;
    font-size: 24px;
}

/* Coaching Details セクション */
.coaching-details {
    padding: 50px 20px;
    background-color: #faf3ef;
    text-align: center;
}

.coaching-details h2 {
    font-size: 32px;
}

.coaching-details .steps {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.coaching-details .step {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coaching-details .step h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.coaching-details .step p {
    font-size: 16px;
}

/* フッター */
footer {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

footer button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f8b88b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
}
