.button {
   font-size: 2rem;
   font-weight: 800;
   width: 30%;
   position: relative;
   display: block;
   text-align: center;
   margin: 1vmin auto;
   padding: 1rem 1rem 1.5rem;
   color: var(--text);
   background: var(--bg);
   box-shadow: 0 2px 5px rgba(46, 46, 46, 0.5);
   border-radius: 10px;
}

/* モーダルの背景 */
.modal-overlay {
   width: 100vw;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 0%;
   z-index: 999;
   opacity: 0;
   transform: translate(-50%, -50%) scale(1);
   background: rgba(253, 246, 234, 0.3);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   visibility: hidden;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* モーダルのスタイル */
.modal {
   position: fixed;
   padding: 10vmin;
   height: 75vmin;
   width: 70vw;
   z-index: 1000;
   border-radius: 10px;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   background-color: var(--sub);
   transform: translate(-50%, -50%) scale(0.8);
   box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5);
   transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}

.modal p {
   font-size: clamp(1.6rem, 1.267rem + 0.44vw, 1.8rem);
   line-height: 2.7rem;
   margin-bottom: 2vmin;
}


/* モーダルが表示されるとき */
.modal.show {
   opacity: 1;
   visibility: visible;
   transform: translate(-50%, -50%) scale(1);
}

.show {
   opacity: 1;
   visibility: visible;
}

/* 閉じるボタン */
.modal .close {
   position: absolute;
   top: 2rem;
   right: 5rem;
   background: none;
   border: none;
   font-size: clamp(3.8rem, 3.133rem + 0.89vw, 4.2rem);
   cursor: pointer;
}

.price {
   width: 80%;
   margin: 3% auto;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   gap: 2rem;
}

.price .price-card--first,
.price .price-card--second,
.price .price-card--third {
   width: 100%;
   height: 25vmin;
   padding: 2rem;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background: linear-gradient(200deg, #ffd59e8e, #ffbfa485 45%, #ffa9a97e 70%);
   box-shadow: 0 2px 3px rgba(46, 46, 46, 0.5);
   border-radius: 20px;
   transition: all 0.5s ease-in-out;
}

.price .price-card--first:hover,
.price .price-card--second:hover,
.price .price-card--third:hover {
   transform: scale(1.05);
}

.price h2 {
   font-size: 3rem;
   text-align: center;
   margin: 0 auto 4%;
}

.price p {
   font-size: 2rem;
   font-weight: 600;
   width: 70%;
   text-align: left;
   line-height: 1;
}

.price p span {
   font-size: 1.6rem;
}


@media screen and (max-width: 600px) {
   .button {
      font-size: 1.6rem;
      width: 50%;
      margin: 1vmin auto;
      padding-bottom: 0.75rem;
      box-shadow: 0 2px 5px rgba(46, 46, 46, 0.5);
   }

   /* モーダルの背景 */
   .modal-overlay {
      transform: translate(0%, -50%) scale(1);
      background: rgba(253, 246, 234, 0.1);
   }

   /* モーダルのスタイル */
   .modal {
      padding: 10vmin 5vmin;
      height: 60vh;
      width: 100vw;
      transform: translate(0%, 0%) scale(0.8);
      box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5);
   }

   .modal p {
      font-size: clamp(1.6rem, 1.267rem + 0.44vw, 1.8rem);
      line-height: 2.7rem;
      margin-bottom: 2vmin;
   }


   /* モーダルが表示されるとき */
   .modal.show {
      transform: translate(0%, 0%) scale(1);
   }

   /* 閉じるボタン */
   .modal .close {
      font-size: clamp(3.8rem, 3.133rem + 0.89vw, 4.2rem);
      top: 0;
      right: 1rem;
   }

   .price {
      width: 100%;
      margin: 3% auto;
      display: grid;
      justify-content: normal;
      gap: 2rem;
   }

   .price .price-card--first,
   .price .price-card--second,
   .price .price-card--third {
      height: fit-content;
      padding: 0.5rem 3rem 1.5rem;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(200deg, #ffd59e8e, #ffbfa485 45%, #ffa9a97e 70%);
      box-shadow: 0 2px 3px rgba(46, 46, 46, 0.5);
      border-radius: 20px;
   }

   .price .price-card--first:active,
   .price .price-card--second:active,
   .price .price-card--third:active {
      transform: scale(1.05);
   }

   .price h2 {
      font-size: 2rem;
      text-align: center;
      margin: 0 auto;
   }

   .price p {
      font-size: 1.6rem;
      font-weight: 600;
      width: 100%;
      text-align: left;
      line-height: 1;
   }

   .price p span {
      font-size: 1.4rem;
   }
}