* {
   box-sizing: border-box;
}

.navigation {
   display: block;
   position: fixed;
   /* height: 500px; 最初はこれ*/
   height: 100vh;
   /* width: 300px; 最初はこれ*/
   width: 70px;
   top: 0;
   background: linear-gradient(300deg, rgba(124, 242, 255, 0.37), rgba(255, 255, 255, 0.13) 22%, rgba(129, 255, 143, 0.3)38%, rgba(255, 255, 255, 0.13) 74%, rgba(255, 175, 216, 0.3)100%);
   border: 10px solid var(--sub);
   overflow-x: hidden;
   transition: width 0.5s ease-in-out;
   /* 変更 */
   z-index: 9998;
   backdrop-filter: blur(4px);
   background-size: 200% 200%;
   animation: GradientBackground 2s ease infinite;
   overflow: hidden;
}

.navigation:hover {
   width: 300px;
}

.navigation ul {
   display: block;
   position: absolute;
   top: 25%;
   left: 10%;
   width: 100%;
}

.navigation ul li {
   list-style: none;
   display: block;
   position: relative;
   width: 92%;
   border-radius: 15px;
   /*transition: background-color 0.3s ease;*/
   transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.navigation ul li a,
.navigation ul li .nav-bot {
   position: relative;
   text-decoration: none;
   color: var(--text);
   width: 100%;
   display: flex;
   align-items: center;
   transition: all 0.3s ease-in-out;
}

.navigation ul li:hover {
   background-color: rgba(223, 216, 204, 0.85);
}

/* .active */
.navigation ul li.active {
   background-color: var(--sub) !important;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   transition: box-shadow 0.5s ease-in-out;
}

.navigation ul li.active .nav-bot::before,
.navigation ul li.active .nav-bot::after,
.navigation ul li.active a::before,
.navigation ul li.active a::after {
   content: "";
   position: absolute;
   width: 45px;
   height: 50px;
   right: 0;
   border-radius: 50%;
   box-shadow: 25px 15px 0 var(--sub);
}

.navigation ul li.active .nav-bot::before,
.navigation ul li.active a::before {
   top: -49px;
}

.navigation ul li.active .nav-bot::after,
.navigation ul li.active a::after {
   top: 59px;
   box-shadow: 25px -15px 0 var(--sub);
}

.navigation ul li a .icon,
.navigation ul li .nav-bot .icon {
   display: block;
   min-width: 45px;
   height: 60px;
   line-height: 70px;
   text-align: center;
}

.navigation ul li a .icon ion-icon,
.navigation ul li .nav-bot .icon ion-icon {
   font-size: 2.4rem;
   transition: transform 0.3s ease-in-out;
}

.navigation ul li a .title,
.navigation ul li .nav-bot .title {
   padding-left: 10px;
   height: 60px;
   line-height: 60px;
   white-space: nowrap;
}

.navigation ul li:hover .icon ion-icon,
.navigation ul li.active .icon ion-icon {
   transform: scale(1.25);
}